<% include head.html %>
<% include side_chaser.html %>
<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/jqplot/excanvas.min.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="/jqplot/plugins/jqplot.pieRenderer.min.js"></script>
<link rel="stylesheet" type="text/css" href="/jqplot/jquery.jqplot.min.css" />

<h3>Top 10 twit sources.</h3>

<div id="GroupbySource" style="height:400px;width:500px; "></div>

<script type="text/javascript">
var dataBySource = <%- JSON.stringify(docs) %>;

$(document).ready(function(){
    var plot1 = $.jqplot('GroupbySource', [dataBySource], {
        gridPadding: {top:0, bottom:38, left:0, right:0},
        seriesDefaults:{
            renderer:$.jqplot.PieRenderer, 
            trendline:{ show:false }, 
            rendererOptions: { 
            	padding: 8,
            	showDataLabels: true,
            	startAngle: -90
            }
        },
        legend:{
            show:true, 
        }       
    });
});
</script>

<table class="table">
	<tr>
		<th>No.</th>
		<th>Source</th>
		<th>Count</th>
	</tr>

	<% for( var i = 0; i < docs.length; i++ ) { %>
		<tr>
			<td><%= i + 1 %></td>
			<td><%- docs[i][0] %></td>
			<td><%= docs[i][1] %></td>
		</tr>
	<% } %>
</table>


<pre><%= JSON.stringify(docs, null, 4) %></pre>


<% include foot.html %>
