<!DOCTYPE html>
<html>
<head>
    <title><%= user.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/style.css" rel="stylesheet" media="screen">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <script>
        function sendTo(id, data) {
            var packet = {
                id: id,
                data: data,
            };

            $.ajax({
                url: 'http://localhost:3000/',
                dataType: "json",
                data: packet,
                success: function (data) {
                    //alert( data );
                    console.log(data);
                }
            });
        }

    </script>
</head>
<body>

    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">Twitter Backup</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">

        <!-- sidebar menu -->
        <% include side.html %>

           <!-- main contents -->
        <div class="span9">
