<% include head.html %>

<h1>Bootstrap starter template</h1>

<ul>
    <li><img src="<%= user.profile_image_url.replace('normal','bigger') %>" /> </li>
    <li>Name : <%= user.name %> </li>
    <li>screen name : @<%= user.screen_name %> </li>
    <li>ID : <%= user.id %> </li>
    <li>Description : <%= user.description %> </li>
    <li>location : <%= user.location %> </li>
</ul>

<!-- 현재 트위터 상의 데이터 수와 백업된 데이터 수를 표시하고, 백업 버튼을 노출한다. -->
<table class="table">
	<tr>
		<th>*</th>
		<th>twitter</th>
		<th>backup</th>
		<th>action</th>
	</tr>
	<tr>
		<td>Statuses</td>
		<td><%= user.statuses_count %></td>
		<td><%= dbCounts.statuses %></td>
		<td><button id="btn_statuses_backup" class="btn btn-primary" type="button">backup</button></td>
	</tr>
	<tr>
		<td>Favorites</td>
		<td><%= user.favourites_count %></td>
		<td><%= dbCounts.favorites %></td>
		<td><button id="btn_favorites_backup" class="btn btn-primary" type="button">backup</button></td>
	</tr>
</table>

<script type="text/javascript">
	$('#btn_statuses_backup').click(function() {
		$.ajax({
			type:"POST",
			url:'/backup/statuses',
			success:function(msg) {
				alert(JSON.stringify(msg));
			},
			error:function(xhr, status, error) {
				alert(error);
			},
		})
	});
	$('#btn_favorites_backup').click(function() {
		alert( 'bounce' );
	});
</script>

<% include foot.html %>
