<% include head.html %>
<script type="text/javascript">
	$("ul.sidenav > li.active").removeClass("active");
</script>

<h4> Searching "<%= key %>"</h4>

<h3>statuses : <%= docs.statuses.length %> result.</h3>
<ul class="unstyled">
<% docs.statuses.forEach(function(doc) { %>
	<li><% include twit.html %></li>
<% }) %>
</ul>

<h3>favorites : <%= docs.favorites.length %> result.</h3>
<ul class="unstyled">
<% docs.favorites.forEach(function(doc) { %>
	<li><% include twit.html %></li>
<% }) %>
</ul>

<h3>mention : <%= docs.mention.length %> result.</h3>
<ul class="unstyled">
<% docs.mention.forEach(function(doc) { %>
	<li><% include twit.html %></li>
<% }) %>
</ul>

<% include foot.html %>
