<div class="span3">
    <ul class="nav nav-list well sidenav">

        <li class="nav-header">Home</li>
        <li>Login.</li>
        <li class="active"><a href="#">Account</a></li>
        <li class="divider"></li>

        <li class="nav-header">Data</li>
        <li><a href="#">Time Line</a></li>
        <li><a href="#">Mention</a></li>
        <li><a href="#">Direct Message</a></li>
        <li class="divider"></li>

        <li class="nav-header">Search</li>
        <li><a href="#">Search</a></li>
        <li><a href="#"></a></li>
        <li class="divider"></li>
    </ul>
</div>
