<div data-spy="affix" class="span3">
    <ul class="nav nav-list well sidenav">

        <li class="nav-header">Home</li>
        <li>Login.</li>
        <li class="active"><a href="/">Account</a></li>
        <li class="divider"></li>

        <li class="nav-header">Data</li>
        <li value="statuses"><a href="/view/statuses/1">My Tweet</a></li>
        <li value="favorites"><a href="/view/favorites/1">Favorite</a></li>
        <li value="mention"><a href="/view/mention/1">Mention</a></li>
        <li><a href="#">Direct Message</a></li>
        <li class="divider"></li>

        <li class="nav-header">Statistics</li>
        <li><a href="#">Punch card</a></li>
        <li><a href="#"></a></li>
        <li class="divider"></li>
    </ul>
</div>

