.sidenav {
	margin-top:30px;
}

.username {
	font-size: 12px;
	color: #999;
}

a,
.tweet-url.username {
	color:#0099b9;
}

.time {
	float: right;
	color: #bbb;
}

.tweet {
	border-bottom: 1px solid #e8e8e8;
	padding: 9px 12px;
}

.tweet .content {
	margin-left: 58px;
}

.top-padding {
	padding-top: 50px;
}

.stream-item-header .avatar {
	float:left;
	margin-top:3px;
	margin-left: -58px;
}

.avatar {
	width:48px;
	height:48px;
	border-radius: 5px;
}

/*트위터 아래쪽에 RT 개수, 관심글 개수 표시 영역*/
.stats {
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	color:#999;
}

.stats strong {
	color:black;
	font-size:16px;
}

.stats .comment {
	font-size:10px;
}