.sidenav {
	margin-top:30px;
}

.username {
	font-size: 12px;
	color: #999;
}

a,
.tweet-url.username {
	color:#0099b9;
}

.time {
	float: right;
	color: #bbb;
}

.tweet {
	border-bottom: 1px solid #e8e8e8;
	padding: 9px 12px;
}

.top-padding {
	padding-top: 50px;
}